@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Karla:wght@200;300;400;700&family=Merriweather:wght@700&display=swap");
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #F5F5F5;
  color: #191716;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Karla", sans-serif;
  line-height: 1.6rem;
}

p {
  line-height: 1.6rem;
  font-size: 1.25rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
  margin-top: 0;
}

h2 {
  font-size: 1.953rem;
}

.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.btn__primary {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
}
.btn__secondary {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}
.btn__primary, .btn__secondary {
  background-color: #ECEDE8;
  color: #191716;
  transition: all 0.25s ease-in-out;
  border: 1px solid #191716;
}
.btn__primary:hover, .btn__primary:focus, .btn__primary:active, .btn__secondary:hover, .btn__secondary:focus, .btn__secondary:active {
  background-color: #191716;
  color: #ECEDE8;
  transition: all 0.25s ease-in-out;
  border: 1px solid #191716;
}
.btn__submit {
  width: 100%;
}

.hero {
  height: 95vh;
  padding: 1em 0;
  display: flex;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* El span pone el fondo de color y así 
    puedo tener que el fondo se mantenga en todo
    el texto sin depender de las col */
  /*  box-decoration-break en el span junto con 
        text-align en el title/text hacen que el 
        fondo se pegue al contenido del texto
     */
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.hero__title {
  margin: 0.5em 0;
  letter-spacing: 2px;
  font-family: "Merriweather", serif;
}
.hero__text {
  font-size: 3.052rem;
  font-family: "Karla", sans-serif;
}
.hero__title, .hero__text {
  color: #ECEDE8;
  align-self: start;
  justify-self: center;
  text-align: left;
}
.hero__title span, .hero__text span {
  background-color: #191716;
  /*  agregar los dos que brave no soporta 
          box-decoration-break solo
       */
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.hero__title span {
  font-size: 2.441rem;
  padding: 0.05em 0.3em 0.05em 0.3em;
  line-height: 1.3;
}
.hero__text span {
  font-size: 1.563rem;
  text-transform: uppercase;
  padding: 0.25em 0.7em;
  line-height: 1.6;
  font-weight: 200;
}

#hero {
  background-image: url(../img/hero_bg.jpg);
}

@media (min-width: 1600px) {
  .hero {
    height: 85vh;
  }
}
@media (min-width: 1200px) {
  .hero__title span {
    font-size: 3.052rem;
  }
}
.image--shadow {
  box-shadow: 25px 25px 0px 0px #0FA3B1;
  -webkit-box-shadow: 25px 25px 0px 0px #0FA3B1;
  -moz-box-shadow: 25px 25px 0px 0px #0FA3B1;
}

.about__text {
  font-size: 1.25rem;
  line-height: 1.6;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100px;
  margin-bottom: 1.563rem;
}
.skill-item i {
  font-size: 2.441rem;
  padding: 0;
}
.skill-item span {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
  grid-auto-flow: row dense;
}

label {
  font-size: 1.25rem;
  line-height: 1.6;
}

textarea {
  resize: none;
}

.form-control {
  border-radius: 0;
}

.social-links {
  display: flex;
  justify-content: space-evenly;
}

.social-links i {
  font-size: 2.441rem;
  margin-right: 1rem;
}

.social-links__icons {
  text-decoration: none;
  color: #191716;
  transition: all 0.25s ease-in-out;
}
.social-links__icons:hover {
  color: #0FA3B1;
  transition: all 0.25s ease-in-out;
}

.form-control:focus {
  border-color: #C7F6FA;
  box-shadow: 0 0 0 0.25rem #C7F6FA;
}

.navbar {
  background-color: #191716;
}
.navbar-brand {
  font-size: 1.563rem;
  font-family: "Fredericka the Great", cursive;
  padding: 0;
}
.navbar .nav-link {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.navbar-dark,
.navbar-brand,
.navbar-nav,
.nav-link {
  color: #ECEDE8 !important;
  transition: all 0.3s ease-in-out;
}
.navbar-dark:hover, .navbar-dark:focus,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-nav:hover,
.navbar-nav:focus,
.nav-link:hover,
.nav-link:focus {
  color: #0FA3B1 !important;
  transition: all 0.3s ease-in-out;
}

.navbar-dark,
.navbar-toggler {
  color: rgba(236, 237, 232, 0.3);
}
.navbar-dark:hover, .navbar-dark:focus,
.navbar-toggler:hover,
.navbar-toggler:focus {
  color: rgba(236, 237, 232, 0.3);
}

@media (min-width: 992px) {
  .nav-link {
    margin-left: 1.25rem;
  }
}
.proyectos {
  background-color: #C7F6FA;
}

i.proyect-icon {
  font-size: 2.441rem;
  margin-right: 1rem;
}

.stack--title {
  font-size: 1.25rem;
}

.proyects__text {
  font-size: 1.25rem;
  line-height: 1.6;
}

section {
  padding: 3.052rem 0;
}

.spacer {
  height: 10vh;
}/*# sourceMappingURL=main.css.map */