.image {
  &--shadow {
    box-shadow: 25px 25px 0px 0px $primary;
    -webkit-box-shadow: 25px 25px 0px 0px $primary;
    -moz-box-shadow: 25px 25px 0px 0px $primary;
  }
}

.about__text {
  @include main-text;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100px;
  margin-bottom: $size4;

  i {
    font-size: $size2;
    padding: 0;
  }

  span {
    margin-top: 0.5rem;
    font-size: $size6;
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
  grid-auto-flow: row dense;
}
