*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $light-gray;
  color: $black;
}

img {
  max-width: 100%;
  display: block;
}
