@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  /* - Primary */
  --color-primary-100: #C9F4F9;
  --color-primary-200: #99E8F0;
  --color-primary-300: #70D4DE;
  --color-primary-400: #39BBC8;
  --color-primary-500: #0FA3B1;
  --color-primary-600: #108A96;
  --color-primary-700: #096771;
  --color-primary-800: #074F57;
  --color-primary-900: #033035;
  /* - Background */
  --color-light: #FFEFEB;
  --color-dark: #272838;
  /* Typography */
  --font-title: "Merriweather", "serif";
  --font-text: "Karla", "sans-serif";
  --font-logo: "Fredericka the Great", "serif";
  /* Navbar */
  --nav-transition-duration: 300ms;
  --nav-transition-easing: cubic-bezier(.2,.9,.2,1);
}


@custom-utility {
  .bg-light {
    background-color: #ffefeb;
  }

  .bg-dark {
    background-color: #272838;
  }
}
