@mixin background-image {
  max-width: 100%;
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin main-text {
  font-size: $size5;
  line-height: 1.6;
}

@mixin icon-format {
  font-size: $size2;
  margin-right: 1rem;
}