// Colors
$black: #191716;
$white: #ECEDE8;
$light-gray: #F5F5F5;
$dark-gray: #D9D9D9;
$primary: #F3A712;

// Fonts
$font-text: 'Karla', sans-serif;
$font-title: 'Merriweather', serif;
$font-logo: 'Fredericka the Great', cursive;

// Sizes
$size1: 3.052rem;
$size2: 2.441rem;
$size3: 1.953rem;
$size4: 1.563rem;
$size5: 1.25rem;
$size6: 1rem;
$size7: 0.8rem;
$size8: 0.64rem;